body{
    background-color: antiquewhite;
}
h1{
    color: black;
    text-align: center;
}

p{
    text-align: center;
}
.conteiner1{
    display: flex;
    justify-content: center;
    margin-left:20%;
    margin-right: 20%;
}

.conteiner1 img{
    animation-name: aparecer;
    animation-duration: 5s;
    
}
@keyframes aparecer {
    from{
        margin-left: 150%;
    }
    to{
        margin-left: 0%;
    }
    
}

.centro {
    display: flex;
}

.conteiner2{
    border:2px black solid;
    justify-content: center;
    margin-left:20%;
    margin-right: 10%;
    width: 400px;
    height: 400px;
    position: absolute;
}

.conteiner2 img{
    width: 100%;
    height: 100%;
    
}

.conteiner3{
    margin-left: 50%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 10%;
    justify-content: center;
    position: absolute;
    
}
.conteiner3 a{
    text-decoration: none;
    color:red;
    background-color:white;
    border: 2px red solid;
    padding: 10px;
    border-radius: 20px;
}
.conteiner3 p{
    width: 50%;
}
.conteiner h2{

}


