body{

}
h1{
    color: black;
    text-align: center;
    font-size: 300%;
}

h1:hover{
    color: red;
}

p{
    text-align: center;
}
.conteiner1{
    display: flex;
    justify-content: center;
    margin-left:15%;
    margin-right: 15%;
}
.conteiner1 h2{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: aparecer0;
    animation-duration: 5s;
}
@keyframes aparecer0 {
    from{
        margin-left: -50%;
    }
    to{
        margin-right: 15%;
    }
    
}
.conteiner1 p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.conteiner1 img{
    animation-name: aparecer;
    animation-duration: 5s;
    
}
@keyframes aparecer {
    from{
        margin-left: 150%;
    }
    to{
        margin-left: 0%;
    }
    
}

@keyframes color {
    
}

#distancia {
    margin: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    color: red;
}
.centro {
    display: flex;
}

.conteiner2{
    border:2px black solid;
    justify-content: center;
    margin-left:20%;
    margin-right: 10%;
    width: 400px;
    height: 400px;
    position: absolute;
}

.conteiner2 img{
    width: 100%;
    height: 100%;
    
}

.conteiner3{
    margin-left: 50%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 10%;
    justify-content: center;
    position: absolute;
    
}
.conteiner3 a{
    text-decoration: none;
    color:red;
    background-color:white;
    border: 2px red solid;
    padding: 10px;
    border-radius: 20px;
    text-align: right;

}
.conteiner3 p{
    width: 50%;
    text-align: justify;
}


footer{
    margin-top: 40%;
    display: flex;
    margin-right: 20%;
}

footer section {
    margin-left: 60%;
    text-align: center;
}

footer a{
    color: red;
}


